<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.febriyadi_f55121082.mylistview">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyListView"
        tools:targetApi="31">
        <activity
            android:name=".TanMalaka_Activity"
            android:exported="false" />
        <activity
            android:name=".Soepomo_Activity"
            android:exported="false" />
        <activity
            android:name=".Soedirman_Activity"
            android:exported="false" />
        <activity
            android:name=".Mohammad_HattaActivity"
            android:exported="false" />
        <activity
            android:name=".KiHajarDewantara_Activity"
            android:exported="false" />
        <activity
            android:name=".Gatot_SoebrotoActivity"
            android:exported="false" />
        <activity
            android:name=".SutomoActivity"
            android:exported="false" />
        <activity
            android:name=".Ahmad_YaniActivity"
            android:exported="false" />
        <activity
            android:name=".Ahmad_DahlanActivity"
            android:exported="false" />
        <activity
            android:name=".FebriyadiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>